#main-content
  display: grid
  grid-template: "events events events" auto "devices devices settings" 1fr
  gap: 4ch
  height: 100%

  @media (max-width: 1000px)
    grid-template: "events" auto "devices" auto "settings" auto
    gap: 2ch

  #notification-wrapper
    grid-area: events

    #notification-heading-wrapper
      span
        color: var(--text2)
        font-size: .9em

    #event-list
      display: flex
      flex-direction: column
      gap: 1rem

      *
        padding-bottom: 1rem
        border-bottom: 2px solid var(--surface3)

        &:last-child
          border: none
          padding-bottom: 0

  #device-overview-wrapper
    grid-area: devices

  #quick-settings-wrapper
    grid-area: settings

.section-heading
  margin-bottom: 1rem
