@use '../../_layout'

#main-content
  display: grid
  grid-template: "events events events" auto "devices devices settings" 1fr
  gap: 2rem
  height: 100%

  @media (max-width: 1000px)
    grid-template: "events" auto "devices" auto "settings" auto

  #notification-wrapper
    grid-area: events

  #device-overview-wrapper
    grid-area: devices

  #quick-settings-wrapper
    grid-area: settings

.section-heading
  text-transform: capitalize

.brand
  color: var(--brand)

.text1
  color: var(--text1)

.text2
  color: var(--text2)

#surfaces
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr
  gap: 20px
  margin: 20px 0
  width: fit-content

.surface
  height: 80px
  width: 80px
  display: grid
  place-content: center
  box-shadow: var(--shadow-3)

.surface1
  background: var(--surface1)

.surface2
  background: var(--surface2)

.surface3
  background: var(--surface3)

.surface4
  background: var(--surface4)
