<div id="main-content" class="clamped">

  <div id="notification-wrapper" class="card">
    <h1 class="section-heading">Event overview</h1>
    <p>No important events.</p>
    <div id="event-list">
      <!-- <app-event-item></app-event-item>
      <app-event-item></app-event-item>
      <app-event-item></app-event-item>
      <app-event-item></app-event-item> -->
    </div>
  </div>

  <div id="device-overview-wrapper" class="card">
    <h2 class="section-heading">Device overview</h2>
    <div id="device-list">
      <app-device-item></app-device-item>
      <app-device-item></app-device-item>
      <app-device-item></app-device-item>
      <app-device-item></app-device-item>
    </div>
  </div>

  <div id="quick-settings-wrapper" class="card">
    <h2 class="section-heading">Quick settings</h2>
  </div>

</div>
