<div id="main-content" class="clamped">

  <div id="notification-wrapper" class="card">

    <div id="notification-heading-wrapper"  class="section-heading">
      <h1>Event Overview</h1>
      <!-- <span>Last updated: {{ time }}</span> -->
    </div>

    <p *ngIf="notificationsEnabled && (!events || (events.critical === undefined && events.warning === undefined && events.info === undefined))">You're all caught up!</p>
    <div id="event-list">
      <app-event-item *ngFor="let event of events?.critical" [event]="event" [pauseAnimation]="showModal"></app-event-item>
      <app-event-item *ngFor="let event of events?.warning" [event]="event"></app-event-item>
      <app-event-item *ngFor="let event of events?.info" [event]="event"></app-event-item>
      <app-event-item *ngFor="let event of events?.info" [event]="event"></app-event-item>
      <app-event-item *ngIf="!notificationsEnabled" [event]="enableNotificationsEvent" [isNotificationPermissionEvent]="true"></app-event-item>
    </div>
  </div>

  <div id="device-overview-wrapper" class="card">
    <h2 class="section-heading">Device Overview</h2>
    <div id="device-list">
      <app-device-item></app-device-item>
      <app-device-item></app-device-item>
      <app-device-item></app-device-item>
      <app-device-item></app-device-item>
    </div>
  </div>

  <div id="quick-settings-wrapper" class="card">
    <h2 class="section-heading">Quick Settings</h2>
  </div>

</div>

<app-event-modal *ngIf="showModal" [event]="modalEvent"></app-event-modal>
