<div id="main-content" class="clamped">

  <div id="notification-wrapper" class="card">

    <div id="notification-heading-wrapper"  class="section-heading">
      <h1>Event Overview</h1>
      <span>Last updated: {{ time }}</span>
    </div>

    <p *ngIf="events.length === 0">You're all caught up!</p>
    <div id="event-list">
      <app-event-item *ngFor="let event of events" [event]="event"></app-event-item>
    </div>
  </div>

  <div id="device-overview-wrapper" class="card">
    <h2 class="section-heading">Device Overview</h2>
    <div id="device-list">
      <app-device-item></app-device-item>
      <app-device-item></app-device-item>
      <app-device-item></app-device-item>
      <app-device-item></app-device-item>
    </div>
  </div>

  <div id="quick-settings-wrapper" class="card">
    <h2 class="section-heading">Quick Settings</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa distinctio quis recusandae harum modi nam commodi voluptatum porro nemo magnam assumenda delectus, neque officiis doloremque qui sapiente laboriosam aspernatur quas.</p>
  </div>

</div>
