@import "https://unpkg.com/open-props"

*
  margin: 0
  padding: 0
  box-sizing: border-box

  // Alt 343
  --brand-hue: 220
  --brand-saturation: 86%
  --brand-lightness: 54%

  // Light theme
  --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness))
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%)
  --text2-light: hsl(var(--brand-hue) 8% 30%)
  --surface1-light: hsl(var(--brand-hue) 20% 99%)
  --surface2-light: hsl(var(--brand-hue) 24% 95%)
  --surface3-light: hsl(var(--brand-hue) 43% 94%)
  --surface4-light: hsl(var(--brand-hue) 8% 89%)

  // Dark theme
  --brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness)))
  --text1-dark: hsl(var(--brand-hue) 15% 85%)
  --text2-dark: hsl(var(--brand-hue) 5% 65%)
  --surface1-dark: hsl(var(--brand-hue) 10% 11%)
  --surface2-dark: hsl(var(--brand-hue) 10% 17%)
  --surface3-dark: hsl(var(--brand-hue) 5%  20%)
  --surface4-dark: hsl(var(--brand-hue) 5% 25%)

:root
  color-scheme: light
  --brand: var(--brand-light)
  --text1: var(--text1-light)
  --text2: var(--text2-light)
  --surface1: var(--surface1-light)
  --surface2: var(--surface2-light)
  --surface3: var(--surface3-light)
  --surface4: var(--surface4-light)

  --shadow-timing: .15s ease
  --underline-size: .15em

  @media (prefers-color-scheme: dark)
    color-scheme: dark
    --brand: var(--brand-dark)
    --text1: var(--text1-dark)
    --text2: var(--text2-dark)
    --surface1: var(--surface1-dark)
    --surface2: var(--surface2-dark)
    --surface3: var(--surface3-dark)
    --surface4: var(--surface4-dark)

html, body
  background: var(--surface2)
  font-family: var(--font-sans)
  accent-color: var(--brand)
  color: var(--text1)

.card
  background: var(--surface1)
  padding: 2rem
  border-radius: .5rem
  color: var(--text1)
  box-shadow: var(--shadow-2)

  h1, h2, h3, h4, h5, h6
    color: var(--text2)

.button
  padding: 1ch 4ch
  background: var(--brand)
  color: #fff
  border: none
  border-radius: 500px
  font-size: 1em
  align-self: flex-start
  cursor: pointer
  user-select: none
  display: inline-block
  position: relative
  transition: transform var(--shadow-timing)
  will-change: transform
  border: 2px solid var(--brand)
  outline: none

  // Add text decoration when button is focused and UA deems indicator necessary
  // This improves a11y, as outline is otherwise removed on .button elements
  &:focus-visible
    text-decoration: underline
    text-decoration-thickness: var(--underline-size)

  // Box shadow is animated on hover using a pseudo element:
  // Animating opacity (of the pseudo element) is more performant than animating box-shadow
  &::after
    content: ''
    position: absolute
    z-index: 1
    width: 100%
    height: 100%
    top: 0
    left: 0
    border-radius: 500px
    opacity: 0
    pointer-events: none
    transition: opacity .15s ease
    will-change: opacity
    box-shadow: var(--shadow-3)

  &:hover, &:focus
    transform: translateY(-2px)
    &::after
      opacity: 1

  &:active
    transform: translateY(0)
    &::after
      opacity: 0

  @media (prefers-color-scheme: dark)
    color: var(--text1)

  &.inverse
    background: none
    border: 2px solid var(--brand)
    color: var(--brand)

  &.small
    padding: .5ch 2ch

.input
  background: var(--surface2)
  border: none
  padding: 1ch 2ch
  font-size: 1.2em
  // Excessive border radius results in perfect pill shape
  border-radius: 500px
  outline: none
  color: var(--text1)


  &:focus-visible
    outline: 2px solid var(--brand)


.clamped
  width: min(90vw, 1600px)
  margin: 0 auto
  height: 100%
