@use '../../layout'
@use '../../vars'

footer
  background: vars.$space
  color: #fff
  padding: 40px 0

  #footer-content
    display: flex
    align-items: center
    justify-content: center
    color: vars.$manatee
