<div class="container">
    <table class="table table-bordered table-dark device-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>
                    Device name
                    <button type="button" class="btn btn-success" style="float: right;" data-bs-toggle="modal" data-bs-target="#newDeviceModal">
                        Add device
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices">
                <td>{{device._id}}</td>
                <td>
                    {{device.name}}                    
                    <button type="button" class="btn btn-danger" style="float: right;" (click)="removeDevice(device._id)">Remove</button>
                    <button type="button" class="btn btn-primary" style="float: right;">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="newDeviceModal" tabindex="-1" aria-labelledby="newDeviceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="newDeviceModalLabel">New Device</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                <div class="mb-3">
                    <label for="newDeviceName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addDevice()" data-bs-dismiss="modal">Create</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>