<div id="login-container">

  <div id="login-card" class="card">
    <h1>Login</h1>

    <div id="manual-login-container">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <div class="button-wrapper">
        <button id="login-btn" class="button">Log in</button>
        <button id="register-btn" class="button inverse">Register</button>
      </div>
    </div>

    <!-- <div id="quick-login-container">
      Log in with Google
    </div> -->

  </div>

</div>
