<div id="modal-container">

  <section id="modal" class="card">

    <header>
      <h1>{{ event?.title }}</h1>
      <button (click)="onCloseModal()">&times;</button>
    </header>

    <p *ngIf="event?.description">{{ event?.description }}</p>
    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam non iste maiores unde, molestias nostrum, quidem libero voluptatem quia illum dolores voluptates, pariatur labore commodi aliquam reprehenderit! Hic, veritatis et? -->
    <!-- Iste voluptatem sit ut dolorem eaque assumenda doloremque, quam odit laborum dignissimos dolore quidem, quasi nemo nihil omnis nobis ipsam. Odio sit quis cum placeat, rerum inventore explicabo praesentium laboriosam.</p> -->

    <button class="button inverse" (click)="onResolve()">Resolve</button>

  </section>

</div>
