<div class="event-item-wrapper">

  <img src="../../../assets/favicon.svg" alt="" class="event-icon">

  <div class="event-info-wrapper">
    <h3 class="event-description">
      Enable notifications
    </h3>
    <div class="event-meta-wrapper">
      <p class="devices-meta">All devices</p>
      <span class="meta-divider">|</span>
      <p class="time-meta">Today</p>
    </div>
  </div>

  <div class="event-action-wrapper">
    <div id="event-secondary-action" class="event-action button inverse small">Foo</div>
    <div id="event-primary-action" class="event-action button small">bar</div>
  </div>

</div>
